data/raw/*
data/processed/*
*.npy
*.npz
*.zip
*.avi
*.mp4
*.MOV
*.mov
models/*.h5
models/*.keras
models/*.pkl
__pycache__/
*.pyc
venv/
env/
.ipynb_checkpoints/
.DS_Store
logs/
*.log
pipeline_run.log
.env
screenshots/*
pose_landmarker_full.task
yolov8n-pose.pt
